@font-face {
    font-family: publicsans;
    src: url(assets/fonts/PublicSans-VariableFont_wght.ttf);
}

:root {
    --background: #FDE9E9;
    --btn-color: #d54141;
    --red: red;
    --white: white;
    --black: black;
    --border: 1px solid#fab0b0;
    --gray:#8f9294;
    --click:#F44848;
    --gray-50:#FAFAFC;
    --gray-100:#4d4e4e;
    /* --border:#c2c3c4; */
}

body {
    margin-top: 0;
    font-family: publicsans;
    font-size: 12px;
    display: flex;
    background-color: #FCFCFC;
    gap: 1rem;
}

/* side bar css */
.side-nav {
    width: 22%;
    background-color: var(--white);
    flex-direction: column;
    display: flex;
    position: relative;
}
.side-bar {
    margin-left: 1rem;
    /* background-color:red; */
    margin-right: 1rem;
}
.logo {
    display: flex;
    width: 20%;
    gap: 8rem;
    padding-top: 1rem;
    padding-left: 1rem;

}
.all {
    margin-top: 3rem;
    padding-left: 1rem;
    color:var(--gray);
}
#tezoLogo {
    width: 6rem;
    height: 1.7rem;
}

#handle-logo {

    height: 2rem;
    width: 2rem;
}
.dashboard {

    display: flex;
    gap: 1rem;
    margin: auto;
    padding-left: 1rem;
    margin-top: 1rem;
}
.links {
    text-decoration: none;
    color: var(--gray-100);
}
.roles-user p{
    color:var(--gray);
}
.roles-user {
    padding-left: 1rem;
    margin-top: 2rem;
}
.roles {
    display: flex;
    gap: 1rem;
    /* background-color: var(--background); */
    background-color: var(--background);
    height: 2rem;
    padding-top: 1rem;
    /* padding-left:1rem; */
    border-radius: 5px;
}
.role-icon{
    width:1rem;
    height:1rem; 
    
}
.color{
  background-color: red;
    margin-left:1rem;
    height:3rem;
    margin-top:-1rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    
  
}
.color span{
    color:red;
}
#right-arrow {
    padding-left: 7rem;
    height: 0.8rem;
}

#right-arrow2 {
    padding-left:4.5rem;
    height: 1rem;
}
.install {
    position: absolute;
    bottom: 0;
}

.install-update {
    background-color: var(--background);
    border-radius: 5px;
    height: 8rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}
.install-update p {
    color: var(--red);
}
#dismiss {
    color: var(--red);
    cursor: pointer;
}
#accept {
    color: var(--white);
    background: var(--click);
    cursor:pointer;
}
.access-rights {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}
.btn {
    margin-top: 1rem;
}
.btn button {
    border: none;
    padding: 0.5rem;
    border-radius: 6px;
    width: 5rem;
    background: #f3bfbf;
}

/* styling for header */
.header {
    margin-top: 1rem;
    display: flex;
    

}

.header-icon {
    display: flex;
    padding-left:1rem;

}

.search-bar {
    padding: 1rem;
    width: 100%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 7px;
    background-color: var(--white);
    display: flex;
    height:1.7rem;
}

.search-bar input[type="text"] {
    height: 2rem;
    border: none;
    outline: none;
}

#search {
    padding-right: 1rem;
    padding-top:0.5rem;
    width:1rem;
    height:1rem;

}

.profile {
    display: flex;
}

.profile img {
    width: 2rem;
    height: 2rem;
}

.profile-name{
    display:flex;
    flex-direction: column;
    padding-left:1rem;
}

#down-arrow {
    width: 1rem;
    height: 1rem;
    padding-left:2rem;
    padding-top:0.5rem;
    cursor:pointer;
}

/* role section css */
.role-desc{
    display:flex;
    flex-direction: column;


}
.add-role{
    background-color: var(--click);
    padding-top:0.5rem;
    width:7rem;
    display: flex;
    justify-content: center;
    border-radius:5px;
    color:var(--white);
    gap:0.5rem;
}
#add{
    width:0.8rem;
    height:0.8rem;
}
.role-section{
    display: flex;
    gap:40rem;
    margin-top:1rem;
}

/* filter section  */

.filter-section{
    display:flex;
    gap:26rem;
    margin-top:1rem;
    background-color: var(--background);
    padding:0.5rem;
    border:var(--border);
    border-radius:5px;
}
.filter-section-left{
    display:flex;
    gap:1rem;
    
}
.filter-btn{
    display:flex;
    gap:0.5rem;
    margin-top:0.5rem;
}
#filter-icon{
    width:1rem;
    height:1rem;
}
.dropdown{
    border:var(--border);
    outline:none;
    padding:0.5rem;
    border-radius:5px;

}
.order-btn{
    display:flex;
    /* padding:0.5rem; */
    gap:1rem;
}

#reset {
    border: 1px solid  var(--btn-color);
    padding:0.5rem;
    padding-left:1rem;
    padding-right: 1rem;
    border-radius: 5px;
    /* width:5rem; */
    color:var(--btn-color);
    background: var(--white);
    cursor:pointer;
}

#apply {
    border: none;
    padding: 0.5rem;
    padding-left:1rem;
    padding-right: 1rem;
    border-radius: 5px;
    border-radius: 5px;
    background: var(--click);
    color: var(--white);
    cursor:pointer;
}
#filter{
    color:var(--red);
}

/* main content css */

.role-container{
    margin-top:1rem;
    display:flex;
    flex-wrap:wrap;
    gap:1rem;
}
.role-card{
    width:25%;
    background-color: var(--white);
    padding:2rem;
    border:1px solid var(--gray);
    border-radius:8px;
}
.role-name{
    display: flex;
    font-size:15px;
    font-weight:700;
   justify-content: space-between;

}
.department{
    display: flex;
     justify-content: space-between;
     margin-top:1rem;
}

.dept{
    display: flex;
    
}
.town{
    display:flex;
    justify-content: space-between;
    margin-top:1rem;
}
.view-emp{
    display:flex;
    justify-content: flex-end;
    margin-top:1rem;
}
.view-emp img{
    height:1rem;

}
/* .profile-icon{
    width:1rem;
    height:1rem;
} */
.total-emp{
    margin-top:1rem;
    display:flex;
    justify-content: space-between;
    position:relative;
    z-index:1;
}
.icons img{
    /* width:1rem; */
    height:1rem;
}
#profile1{
    position:absolute;
    z-index: 2;
    left: 12rem;
}

#profile2{
    position:absolute;
    width:1rem;
    height:1rem;
    z-index:3;
    left: 12.5rem;
}
#profile3{
    position:absolute;
    width:1rem;
    height:1rem;
    z-index:4;
    left: 13rem;
}
#profile4{
    position:absolute;
    width:1rem;
    height:1rem;
    z-index:5;
    left: 13.5rem;
}
#total-cnt{
    width:1rem;
    height:1rem;
    border-radius:50%;
    position:absolute;
    font-size:10.2px;
    left:14rem;
    z-index:7;
    background-color: var(--white);
}
