@font-face {
    font-family: publicsans;
    src: url(assets/fonts/PublicSans-VariableFont_wght.ttf);
}

:root {
    --background: #FDE9E9;
    --btn-color: #d54141;
    --red: red;
    --white: white;
    --black: black;
    --border: 1px solid#fab0b0;
    --gray:#8f9294;
    --click:#F44848;
    --gray-50:#FAFAFC;
}

body {
    margin-top: 0;
    font-family: publicsans;
    font-size: 12px;
    display: flex;
    background-color: #FCFCFC;
    gap: 1rem;
}
.table-header{
    background: var(--gray-50);
}
.side-nav {
    width: 22%;
    background-color: var(--white);
    flex-direction: column;
    display: flex;
    position: relative;
    
    /* margin-left:10rem; */

}
.name{
    font-weight:500;
}
.side-bar {
    margin-left: 1rem;
    /* background-color:red; */
    margin-right: 1rem;
    /* display: flex;; */


}

.links {
    text-decoration: none;
    color: var(--black);
}

.logo {
    display: flex;
    width: 20%;
    gap: 8rem;
    padding-top: 1rem;
    padding-left: 1rem;

}

#tezoLogo {
    width: 6rem;

    /* padding-right:3rem; */
    height: 1.7rem;
}

#handle-logo {

    height: 2rem;
    width: 2rem;
}

.all {
    margin-top: 3rem;
    padding-left: 1rem;
    color:var(--gray);
}
.roles-user p{
    color:var(--gray);
}
.dashboard {

    display: flex;
    gap: 1rem;
    margin: auto;
    padding-left: 1rem;
    margin-top: 1rem;
}

#employee-tag {
    background-color: var(--background);
    height: 2rem;
    padding-top: 1rem;
    border-radius: 5px;
    /* color:var(--red); */
}

#employee-tag img{
    width:1.5rem;
    height:1.5rem;

}
#employee-tag a {
    color: var(--red);
}
.role-icon{
    width:1rem;
    height:1rem;    
}
.roles-user {
    padding-left: 1rem;
    margin-top: 2rem;
}

.roles {
    display: flex;
    gap: 1rem;
}

#right-arrow {
    padding-left: 7rem;
    height: 1rem;
}

#right-arrow2 {
    padding-left:4.5rem;
    height: 1rem;
}

.access-rights {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}

.install {
    position: absolute;
    bottom: 0;

    /* right:1; */
    /* padding-left:2rem; */
}

.install-update {
    /* margin-left:1rem; */
    /* justify-content: flex-end; */
    /* margin-top:7rem; */
    background-color: var(--background);
    /* width:20%; */
    border-radius: 5px;

    height: 8rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;


}

.btn {
    margin-top: 1rem;

}

.install-update p {
    color: var(--red);
}

.btn button {
    border: none;
    padding: 0.5rem;
    border-radius: 6px;
    width: 5rem;
    background: #f3bfbf;
}

#dismiss {
    color: var(--red);
    cursor: pointer;
}

#c-button{
    background: var(--click);
    color:var(--white);
}
#accept {
    color: var(--white);
    background: var(--click);
    cursor:pointer;
}

.main-content {
    width: 100%;
    /* height:100%; */
    /* margin-left:1rem; */
    /* background-color: red; */
}

.search-bar {
    padding: 1rem;
    width: 100%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 7px;
    background-color: var(--white);
    display: flex;
    height:1.7rem;


}

.header {
    margin-top: 1rem;
    display: flex;
    

}

.header-icon {
    display: flex;
    padding-left:1rem;

}

#search {
    padding-right: 1rem;
    padding-top:0.5rem;
    width:1rem;
    height:1rem;

}

.search-bar input[type="text"] {
    height: 2rem;
    border: none;
    /*  background: transparent; */
    outline: none;
}

.employee-section {
    display: flex;
    gap:6rem;
    margin-top: 1rem;
    
}
.employee-section p{
    font-size: 15px;
}
.email{
    color:var(--gray);
}

.employees {
    /* width:80%; */
    justify-content: flex-start;

}

.changes-icon {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    padding-left:2rem;
    padding: 1.5rem;
    gap: 1rem;
}

.export {

    /* padding: 1rem; */
    height:1.5rem;
    width:5rem;
    padding-top:0.5rem;
    padding-left:1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    cursor:pointer;
}

#export-icon {
    width: 0.8rem;
    height: 0.8rem;

}
#admin{
    font-weight:bold;
}
.add-employee {
    background: var(--click);
    height:1rem;
    width:10rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    padding-left:1.3rem;
    border-radius: 8px;
    color: var(--white);
    cursor: pointer;
}

.filter-section {
    display: flex;
    /* gap:8rem; */
    /* height:3rem; */
    gap:1.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    /* background-color: var(--background); */
}
.filter-section img{
    cursor:pointer;
}

#filter-icon {
    width: 2rem;
    height: 2rem;

}

.btn-section {
    /* padding:1rem */
    gap: 1rem;
    
}

.btn-icon {
    padding: 0.65rem;
    border: none;
    border-radius: 3px;
    cursor:pointer;
    color:var(--gray);
}

.advance-filter-section {
    display: flex;
    background-color: var(--background);
    padding: 0.8rem;
    gap: 20rem;
    border: var(--border);
    border-radius: 5px;
}
.filter-side{
    display: flex;
        padding:0.5rem;
        gap:1rem;
}
.order-btn{
    display: flex;
    gap:1rem;
}
.advance-filter {
    display: flex;

    gap: 1rem;
}


#reset {
    border: 1px solid  var(--btn-color);
    padding:0.5rem;
    padding-left:1rem;
    padding-right: 1rem;
    border-radius: 5px;
    /* width:5rem; */
    color:var(--btn-color);
    background: var(--white);
    cursor:pointer;
}

#apply {
    border: none;
    padding: 0.5rem;
    padding-left:1rem;
    padding-right: 1rem;
    border-radius: 5px;
    border-radius: 5px;
    background: var(--click);
    color: var(--white);
    cursor:pointer;
}

#filter {
    /* padding: 0.5rem; */
    color:var(--red);
    
}

#sort-icon {
    height: 1rem;
    /* padding-top:0.5rem; */
    
    cursor: pointer;

}

.dropdown {
    border: var(--border);
    outline: none;
    border-radius: 5px;
    /* padding:0.2rem; */
    cursor: pointer;
   /*   width: 5rem; */

}

.table-container {
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius:5px;
}

.change-section {
    display: flex;
    gap: 50rem;
    /* border:1px solid var(--black); */
    padding: 1rem;
   
    justify-content: center;
    
}
.active{
    background-color:#E7F4E8;
    padding:1rem;
    border-radius:3px;
    color:green;
}
#left-down{
    cursor: pointer;
}
.table-head {
    display: flex;

}

.table-head {
    height: 1rem;

}

.table {
    /* border:1px solid var(--black); */
    background-color: var(--white);
    border-collapse: collapse;
    height:0.3rem;
}

.table th{
    padding:1rem;
}
.table th,
td {
    padding-left: 1rem;
    padding-right:1rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    border-top: 1px solid var(--gray);
}

.table tr:hover{
    background-color:#FFF4F4;
}
.user-data {
    display: flex;
    gap:1rem;
}

.user-name {
    display: flex;
    flex-direction: column;
}

.user-data img {
    width: 2rem;

}

.profile {
    display: flex;
    /* justify-content: center; */
    /* padding-top:1rem; */
    
}

.profile img {
    width: 2rem;
    height: 2rem;
}
.profile-name{
    display:flex;
    flex-direction: column;
    padding-left:1rem;
}
#down-arrow {
    width: 1rem;
    height: 1rem;
    padding-left:2rem;
    padding-top:0.5rem;
    cursor:pointer;
}

#note{
    color:var(--gray);
}