

body {
    margin-top: 0;
    font-family: publicsans;
    font-size: 12px;
    background-color: #FCFCFC;
    gap: 1rem;
}
.main-section {
    display: flex;
    gap:1rem;
    
}
.main-content {
    width: 100%;
    font-family: albertsans;
    /* margin-left: 1.5rem; */
}
.table-header{
    background: var(--gray-50);
}

.name{
    font-weight:500;
}

.side-bar a{
    text-decoration: none;
    color: var(--black);
}

#employee-tag {
    background-color: var(--background);
    height: 2rem;
    padding-top: 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    color:var(--red);
}
.employee-tag-left{
    display:flex;
    gap:0.8rem;
    position: relative;
}
#employee-tag img{
    width:1.5rem;
    height:1.5rem;

}
#employee-tag a {
    color: var(--red);
}

.roles-user {
   
    margin-top: 2rem;
   
}
.roles-user a{
    text-decoration: none;
    color:black;
}

.roles-left{
    display: flex;
    gap:1.3rem;
}
  

.access-right-left{
    display: flex;
    gap:1.3rem;
    gap:1rem;
} 
.color{
    /* margin-left:7.6rem; */
    left:17.5rem;
    position:absolute;
}

.employee-section {
    display: flex;
    gap:0rem;
    margin-top: 1rem;
    justify-content: space-between;
    flex-wrap:wrap;
    
}
.employee-section p{
    font-size: 15px;
}
.email{
    color:var(--gray);
}

.employees {
    justify-content: flex-start;

}
.employees p{
    font-weight: 500;
}

.changes-icon {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
 
    padding-top: 1.5rem;
    /* padding-left:11rem; */
    gap: 1rem;
}

.export {
    height:1.5rem;
    width:5rem;
   color:#C5CBD1 ;
    padding-top:0.5rem;
    padding-left:1rem;
   border:1px solid var(--gray);
    border-radius: 8px;
    cursor:pointer;
    display: inline-flex;
}


#export-icon {
    width: 1rem;
    height: 1rem;
    padding-right:0.3rem;

}

.add-employee {
    background: var(--click);
    height:1rem;
    width:10rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    padding-left:1.3rem;
    border-radius: 8px;
    color: var(--white);
    display:inline-flex;
    cursor: pointer;
}

.filter-section {
    display: flex;
    gap:0.3rem;
    padding-top: 0.4rem;
    /* flex-wrap:wrap; */
    padding-bottom: 0.4rem;
    width:100%;
    /* line-height: 1rem; */
   
}
.sort-icon{
    cursor:pointer;
    height:2rem;
   
}
.sort-icon img{
    height:2rem;
}

#filter-icon {
    width: 1rem;
    height: 1rem;

}

.btn-section{
    display:flex;
    /* height:2rem; */
    /* width:1rem; */
    gap:0.15rem;
     flex-wrap:wrap;
}

.btn-icon {
    padding: 0.65rem;
    border: none;
    margin-left:0.1rem;
    border-radius: 5px;
    cursor:pointer;
    color:var(--gray);
    font-size:13.5px;
}
.btn-icon:hover{
 

    background: var(--click);
    color:var(--white);

}

.advance-filter-section {
    display: flex;
    background-color: var(--background);
    justify-content: space-between;
    width:97%;
    padding: 0.8rem;
    border: 1px solid var(--border);
    border-radius: 5px;
    /* margin-top:1rem; */
    flex-wrap:wrap;
}
.filter-side{
    display: flex;
        padding:0.5rem;
        gap:0.5rem;
}
.order-btn{
    display: flex;
    gap:1rem;
}
.advance-filter {
    display: flex;
    gap: 1rem;
}


#reset {
    border: 1px solid  var(--btn-color);
    padding:0.5rem;
    padding-left:1rem;
    padding-right: 1rem;
    border-radius: 5px;
    color:var(--btn-color);
    background: var(--white);
    cursor:pointer;
}

#apply {
    border: none;
    padding: 0.5rem;
    padding-left:1rem;
    padding-right: 1rem;
    border-radius: 5px;
    border-radius: 5px;
    background: var(--click);
    color: var(--white);
    cursor:pointer;
}
#delete{
    border: none;
    padding: 0.5rem;
    padding-left:1rem;
    padding-right: 1rem;
    border-radius: 5px;
    border-radius: 5px;
    background: #F89191;
    color: var(--white);
    cursor:pointer;
}
#filter {
    color:var(--red);
    
}

#sort-icon {
    height: 1rem;
    cursor: pointer;

}

.dropdown {
    border: 1px solid var(--border);
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    color:#5f6164   ;  
    padding: 5px 5px;
}

.table-container {
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius:5px;
    width:100%;
}


.change-section {
    display: flex;
    /* gap: 87%; */
    /* width:97%;; */
    padding: 1rem;
    flex-wrap:wrap;
    justify-content: space-between;
    /* position:fixed; */
    
}

.active{
    background-color:#E7F4E8;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    height: 1rem;
    width:4rem; 
    border-radius:3px;
    color:green;
    text-align: center;
}
#left-down{
    cursor: pointer;
}

/* table */
/* table{
    padding: 1rem;
    width: 100%;
}
td{
    padding: .5rem;
    text-align: center;
} */

/* .table{
    width:100%;
} */
.table-head {
    display: flex;
    height: 1rem;
}

.table {
    /* border:1px solid var(--black); */
    background-color: var(--white);
    border-collapse: collapse;
     
     table-layout: table; 
    /* display: block  ; */
    height:1000px;
    /* width:1500px; */
    overflow:auto;
    width:100%;
    
}

thead{
   position:sticky;
   top:0;
} 
.table::-webkit-scrollbar {
    display: none;
  }

.table th,
td {
    padding: 1.1rem;
    /* width:100%; */
    border-top: 1px solid var(--black);
}

#more{
    width:1rem;
    height:1rem;
}

.user-data {
    display: flex;
    /* gap:0.5rem; */
}

.user-name {
    display: flex;
    flex-direction: column;
    padding-left:0.5rem;
}

.user-data img {
    width: 1.5rem;
    height:1.5rem;    
}
#note{
    color:var(--gray);
    font-weight: 400;
    font-size:13px;
}

@media  screen and (max-width:1200px) {
    #side-nav{
        display: none;
        /* overflow: hidden;  */
       /* background-color: red; */
       position:fixed;
       z-index:1;
       height:100%;
    }
    #employee-tag{
        background-color: transparent;
    }
    .install{
        display: none;
    }
    .main-content{
        width:100%;
    }
    .all,#role-heading{
        display:none;
    }
    .roles{
        background-color:transparent;
    }
    .profile-name{
        display: none;
    }
    .color{
        display:none;
    }
    #hamburger-menu{
        display:block;
    }
    #handle-logo{
        margin-left:-7rem;
    }
  
   
}
@media  screen and (max-width:900px) {
    #side-nav{
        display:none;
        
     /* overflow: visible; */
      
    }
    .roles{
        background-color:transparent;
    }
    .advance-filter{
        flex-direction: column;
    }
    .order-btn{
        margin-top:1rem;
    }
    .advance-filter-section{
        width:90%;
    }
    .table{
        display:block;
    }
  
}
@media screen and (max-width:700px){
    .side-nav{
        
        display:none;
    }
}
